// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// https://bootstrapvars.com/4.4/

$theme-colors: (
  "primary": #215384,
  "secondary": #DF1F19,
  "info": #F0F0F0
);

// $red:                         #f05555;
// $gray-100:                    #f7f7f7;
// $gray-200:                    #e4e4e4;
// $gray-900:                    #285180;
// $beige-100:                   #0c0c0b;
$primary:                       #215384;
$secondary:                     #DF1F19;
// $success:                       $secondary;
$info:                          #F0F0F0;
// $warning:                       $primary;
// $danger:                        $red;
$black:                         #000000;


// Text Colors
$text-color-1:                  $primary;
$text-color-2:                  $secondary;
$text-color-3:                  $black;
// $text-color-4:                  #031532;

// Font Family
// $font-family-playfair:       "Playfair Display", serif;
$font-family-roboto:            "Roboto", sans-serif;

// Font Size
$font-size-base: 1.1rem;

// Font Weight
$font-weight-lighter:           lighter;
$font-weight-light:             300;
$font-weight-normal:            400;
$font-weight-medium:            500;
$font-weight-semibold:          600;
$font-weight-bold:              700;
$font-weight-bolder:            800;
$font-weight-black:             900;
$font-weight-base:              $font-weight-normal;
$line-height-base:              1.5;

// Header
$h1-font-size:                  $font-size-base * 3.8;
$h2-font-size:                  $font-size-base * 2.0;
$h3-font-size:                  $font-size-base * 1.3;
$h4-font-size:                  $font-size-base * 0.9;
$h5-font-size:                  $font-size-base * 0.75;
$h6-font-size:                  $font-size-base * 0.65;
$h1-line-height:                $font-size-base * 4.5;
$h2-line-height:                $font-size-base * 3;
$h3-line-height:                $font-size-base * 2.25;
$h4-line-height:                $font-size-base * 1.5;
$h5-line-height:                $font-size-base * 1.5;
$h6-line-height:                $font-size-base * 1.5;

// Header Touch
$h1-font-size-touch:            $font-size-base * 2.7;
$h2-font-size-touch:            $font-size-base * 1.7;
$h3-font-size-touch:            $font-size-base * 1.2;
$h4-font-size-touch:            $font-size-base * 0.8;
$h5-font-size-touch:            $font-size-base * 0.72;
$h6-font-size-touch:            $font-size-base * 0.6875;
$h1-line-height-touch:          $font-size-base * 2.9;
$h2-line-height-touch:          $font-size-base * 2.4;
$h3-line-height-touch:          $font-size-base * 1.6;
$h4-line-height-touch:          $font-size-base * 1.5;
$h5-line-height-touch:          $font-size-base * 1.5;
$h6-line-height-touch:          $font-size-base * 1.5;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1440px
);

// Grid containers
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1150px,
  xxl: 1310px
);
