// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-brand {
  background-image: url("../img/btn_brand.svg");
  background-size: 100%;
  background-position: -300px bottom;
  background-repeat: no-repeat;
  font-size: 18px !important;
  transition: 0.3s;
  &:hover {
    background-position: center bottom;
  }
}

.nav-link {
  background-image: url("../img/btn_brand-2.svg");
  background-repeat: no-repeat;
  background-position: -300px bottom;
  transition: 0.3s;
  &:hover {
    background-position: center bottom;
  }
}

.btn-info,
.aside-anchor {
  background-image: url("../img/btn_brand-2.svg");
  background-repeat: no-repeat;
  background-position: -300px bottom;
  transition: 0.3s;
  &:hover {
    background-position: center bottom;
  }
}
