<div class="row py-5">
  <div class="col-12 col-md-6 mb-5 mb-md-0">
    <img
      src="{{root}}assets/img/viaappia_office.jpg"
      class="img-fluid wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.35s"
      alt="Viaappia office"
      loading="lazy"
    />
  </div>
  <div class="col-12 col-md-6 text-center text-md-left">
    <img
      src="{{root}}assets/img/symbol_sm.svg"
      class="mb-3 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.35s"
    />
    <h2
      class="mb-4 mb-md-0 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.4s"
    >
      About
      <span class="text-secondary">Us</span>
    </h2>
    <p
      class="text-primary pr-0 pr-md-5 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.45s"
    >
      «Via Appia Road Contracting CO LLC» is an enterprise created with the aim
      of gaining leadership in the commercial segment of the road construction
      services market. The main scope of work of our company are the
      construction and repair of roads.
      <br />
      <br />
      «Via Appia Road Contracting CO LLC» employees are actively exploring new
      methods of asphalt pavement equipment. Progress does not stand still,
      every year the possibilities for creating durable coatings are enriched
      with new technologies, materials and types of work. Our company can lay
      asphalt at any time of the year, not limited to the warm summer months.
    </p>
  </div>
</div>
