<div
  class="row wow fadeInUp"
  data-wow-duration="1s"
  data-wow-delay="0s"
  data-wow-offset="0"
>
  <div class="col-md-6 h-100">
    <h2 class="text-center text-md-left mb-4 font-weight-normal">Contacts</h2>

    <div class="row justify-content-center justify-content-md-start">
      <div class="col-12 col-sm-5 col-md-6 mb-3 text-center text-md-left">
        <h4 class="mb-4">Via Appia Road Contracting</h4>

        <p class="text-primary mb-0">
          <strong>Address:</strong><br />
          <span class="small"
            >Unit: SRL 05.05-01,<br />Sheikh Rashid Tower,<br />Dubai, UAE</span
          >
        </p>
      </div>

      <div
        class="col-12 col-sm-5 col-md-6 mb-3 mb-md-3 d-flex justify-content-end flex-column"
      >
        <div
          class="d-flex d-md-block justify-content-center justify-content-md-start"
        >
          <p class="text-primary font-weight-bold">E-mail:&nbsp;</p>
          <a href="mailto:info@viaappiauae.com" class="mb-2 d-block"
            >info@viaappiauae.com</a
          >
        </div>

        <div
          class="d-flex d-md-block justify-content-center justify-content-md-start"
        >
          <p class="text-primary font-weight-bold">Phone:&nbsp;</p>
          <a href="tel:+97145831745" class="d-block">+971 4 583 1745</a>
        </div>
      </div>

      <div class="col-12 mb-5 m-md-0">
        <div class="mapouter mt-4">
          <div class="gmap_canvas">
            <iframe
              id="gmap_canvas"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3609.2854279265857!2d55.28620721593784!3d25.227309636666828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f42e96ce9aa8d%3A0x9d7bf080ffb80d78!2sDubai%20World%20Trade%20Center%20Tower%20-%20Sheikh%20Rashid%20Tower!5e0!3m2!1sen!2sru!4v1661508585263!5m2!1sen!2sru"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 px-md-5">
    <h3 class="text-center text-md-left">Write to us</h3>

    <form
      action="{{root}}actions/send.php"
      method="POST"
      class="needs-validation h-100"
      novalidate
    >
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
          />
          <div class="invalid-feedback">Please enter your name</div>
        </div>
        <div class="col-md-12 mb-3">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
          <span class="small"
            >We will never share your email with anyone else.</span
          >
          <div class="invalid-feedback">Please enter your email</div>
        </div>
        <input type="text" id="website" name="website" style="display: none" />
        <div class="col-md-12 mb-3">
          <label for="message">Message</label>
          <textarea
            class="form-control"
            id="message"
            name="message"
            rows="7"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter your message</div>
        </div>
      </div>

      <button class="btn btn-info mt-4" type="submit">Send</button>
    </form>
  </div>
</div>
