<div class="row">
  <div class="col">
    <img
      src="{{root}}assets/img/symbol.svg"
      class="wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.3s"
    />
    <h1 class="my-5 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.35s">
      Construction & <br /><span class="text-secondary">Repairing</span> of
      Roads
    </h1>
    <p
      class="text-primary w-75 my-5 py-3 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.5s"
    >
      Our company has an extensive experience in road construction and is able
      to offer the most favorable terms for cooperation in several areas at
      once.
    </p>
    <button
      type="button"
      class="btn btn-info btn-lg btn-brand mt-5 px-4 py-2 text-primary wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.45s"
    >
      Read more
    </button>
  </div>
  <div class="col text-right">
    <img
      src="{{root}}assets/img/cover_img.svg"
      class="img-fluid w-100 wow fadeInRight"
      data-wow-duration="1s"
      data-wow-delay="0.35s"
      loading="lazy"
    />
  </div>
</div>
