<footer class="footer pb-5">
  <div class="container">
    <nav id="footernav" class="mb-5">{{> nav_both}}</nav>
    <div class="font-weight-light text-center text-md-left small pl-md-3">
      2022 Via Appia Road Contracting CO LLC.<br />© All rights reserved. 
    </div>
  </div>
</footer>
<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->
