<input type="checkbox" id="myInput" />
<label for="myInput" class="menu-label">
  <span class="bar top"></span>
  <span class="bar middle"></span>
  <span class="bar bottom"></span>
</label>
<aside>
  <div class="aside-section aside-right">
    <ul class="aside-list">
      <li>
        <a href="#about" class="aside-anchor py-2 font-weight-normal"
          >About Us</a
        >
      </li>
      <li>
        <a href="#services" class="aside-anchor py-2 font-weight-normal"
          >Services</a
        >
      </li>
      <li>
        <a href="#why" class="aside-anchor py-2 font-weight-normal">Why Us?</a>
      </li>
      <li>
        <a href="#contacts" class="aside-anchor py-2 font-weight-normal"
          >Contact Us</a
        >
      </li>
    </ul>
    <div class="px-5 pt-4">
      <hr />
      <p class="pt-3 mb-3 text-primary font-weight-bold">
        Via Appia <br />Road Contracting
      </p>

      <p class="text-primary mb-4">
        <strong>Address:</strong><br />
        <span class="small"
          >Unit: SRL 05.05-01,<br />Sheikh Rashid Tower,<br />Dubai, UAE</span
        >
      </p>
      <p class="text-primary font-weight-bold">E-mail:&nbsp;</p>
      <a href="mailto:info@viaappiauae.com" class="mb-4 d-block"
        >info@viaappiauae.com</a
      >
      <p class="text-primary font-weight-bold">Phone:&nbsp;</p>
      <a href="tel:+97145831745" class="mb-4 d-block">+971 4 583 1745</a>
    </div>
  </div>
</aside>
