<div class="container d-flex justify-content-between">
  <a
    class="navbar-brand mr-5 wow fadeInUp"
    data-wow-duration="1.3s"
    data-wow-delay="0s"
    data-wow-offset="20"
    href="/"
  >
    <img
      src="{{root}}assets/img/viaappia_logo.svg"
      alt="Aquaduco logo"
      loading="lazy"
    />
  </a>
  <nav
    id="nav"
    class="navbar navbar-light bg-transparent pt-3 d-none d-xl-flex wow fadeInUp"
    data-wow-duration="1s"
    data-wow-delay="0.3s"
    data-wow-offset="10"
  >
    {{> nav_both}}
  </nav>
  <nav class="d-xl-none">{{> navigation_mobile }}</nav>
</div>
