<div class="row text-center justify-content-center">
  <div class="col-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
    <img src="{{root}}assets/img/symbol_sm.svg" class="mb-3" />
  </div>
  <div
    class="col-12 wow fadeInUp"
    data-wow-duration="1s"
    data-wow-delay="0.36s"
  >
    <h2><span class="text-secondary">Our</span> Services</h2>
  </div>
  <div
    class="col-12 col-md-10 col-lg-6 wow fadeInUp"
    data-wow-duration="1s"
    data-wow-delay="0.4s"
  >
    <p class="my-3 my-lg-5">
      We carry out works of any complexity, carrying them out both individually
      and in combination. Trusting in us, you can be sure that everything will
      be done at the highest standards.
    </p>
  </div>
  <img
    src="{{root}}assets/img/services_img.svg"
    class="img-fluid w-100 mb-5 wow fadeInUp d-none d-lg-flex"
    data-wow-duration="1s"
    data-wow-delay="0.3s"
    loading="lazy"
  />

  <div class="row text-center py-5 justify-content-center">
    <div
      class="col-12 col-md-4 col-lg mb-5 mb-lg-0 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.3s"
    >
      <img
        src="{{root}}assets/img/road_construction.svg"
        class="img-fluid mb-4"
        loading="lazy"
      />
      <h3>Road construction</h3>
    </div>

    <div
      class="col-12 col-md-4 col-lg mb-5 mb-lg-0 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.33s"
    >
      <img
        src="{{root}}assets/img/asphalt_paving_icon.svg"
        class="img-fluid mb-4"
        loading="lazy"
      />
      <h3>Asphalt paving</h3>
    </div>

    <div
      class="col-12 col-md-4 col-lg mb-5 mb-lg-0 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.36s"
    >
      <img
        src="{{root}}assets/img/asphalt_and_landscaping_icon.svg"
        class="img-fluid mb-4"
        loading="lazy"
      />
      <h3>Asphalting <br />and landscaping</h3>
    </div>

    <div
      class="col-12 col-md-4 col-lg mb-5 mb-md-4 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.39s"
    >
      <img
        src="{{root}}assets/img/ashpalt_of_small_areas_icon.svg"
        class="img-fluid mb-4"
        loading="lazy"
      />
      <h3>Asphalting of small areas <br />and playgrounds</h3>
    </div>

    <div
      class="col-12 col-md-4 col-lg wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.42s"
    >
      <img
        src="{{root}}assets/img/road_repair_icon.svg"
        class="img-fluid mb-4"
        loading="lazy"
      />
      <h3>Road repair</h3>
    </div>
  </div>
  <div
    class="col-12 col-md-11 col-lg-8 wow fadeInUp"
    data-wow-duration="1s"
    data-wow-delay="0.3s"
  >
    <p>
      For asphalting playgrounds and small areas of the territory, special
      small-sized equipment is required, which has high maneuverability and the
      possibility of autonomous operation. Our Company delivers asphalt mix in
      the most optimal way from the nearest plant, so that it does not have time
      to cool down and fully retains the quality required by the laying
      technology.
      <br />
      <br />
      To fully restore and improve the performance of all pavement structures,
      subgrades and other road elements, we use the most innovative restoration
      methods.
    </p>
  </div>
</div>
