<div class="row text-center justify-content-center mb-3 mb-lg-5">
  <div class="col-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
    <img src="{{root}}assets/img/symbol_sm.svg" class="mb-3" />
  </div>
  <div
    class="col-12 wow fadeInUp"
    data-wow-duration="1s"
    data-wow-delay="0.36s"
  >
    <h2>Why <span class="text-secondary">Us?</span></h2>
  </div>
</div>

<div class="row py-5 text-center text-md-left">
  <div class="col-12 col-md-2 text-center">
    <img
      src="{{root}}assets/img/service_and_quality_icon.svg"
      class="img-fluid mb-5 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.3s"
      loading="lazy"
    />
  </div>
  <div class="col-12 col-md-10">
    <h3
      class="lead mb-4 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.36s"
    >
      Service and <span class="color: text-secondary">quality</span>
    </h3>
    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
      In addition to asphalting yard areas, which includes filling roads with
      high-quality asphalt concrete mix, our company is engaged in ennoblement
      of adjacent areas. This includes the replacement or construction together
      with the laying of asphalt speed bumps, patching, marking and installation
      of signs, landscaping, the possible installation of certain structures in
      the yard, the arrangement of playgrounds, and the removal of construction
      debris. All this is done taking into account all the features of the area
      and the wishes of the customer.
      <br />
      <br />
      Because of such an integrated approach to work, we manage to achieve a
      high-quality result that is fully consistent with the modern improvement
      of the local area of apartment buildings, personal property or industrial
      facilities.
    </p>
  </div>
</div>

<div class="row py-5 text-center text-md-left">
  <div class="col-12 col-md-2 text-center">
    <img
      src="{{root}}assets/img/technical_completeness_icon.svg"
      class="img-fluid mb-5 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.3s"
      loading="lazy"
    />
  </div>
  <div class="col-12 col-md-10">
    <h3
      class="lead mb-4 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.36s"
    >
      Technical <span class="color: text-secondary">completeness</span>
    </h3>
    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
      Asphalting of yard areas of any complexity takes place in strict
      accordance with the asphalt concrete laying complex, in accordance with
      the observance of traffic conditions for a long service life. For these
      purposes, we use only high-quality certified laying material. Also, our
      company has a significant stock and special equipment for all types of
      work, which allows us to assign asphalt concrete laying on our own without
      involving intermediaries, and thus significantly reduce costs.
    </p>
  </div>
</div>

<div class="row py-5 text-center text-md-left">
  <div class="col-12 col-md-2 text-center">
    <img
      src="{{root}}assets/img/reasons_icons.svg"
      class="img-fluid mb-5 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.3s"
      loading="lazy"
    />
  </div>
  <div class="col-12 col-md-10">
    <h3
      class="lead mb-4 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.36s"
    >
      The reasons to apply for us,
      <span class="color: text-secondary"
        >a&nbsp;“Reasons to work with&nbsp;us”</span
      >
    </h3>
    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
      Many years of experience in providing services in the road construction
      sector, dozens of completed projects, we know exactly what is needed for
      efficient asphalt paving and arrangement of public and private areas.
    </p>
    <div
      class="row mt-3 text-primary text-left wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.4s"
    >
      <div class="col-12">
        <p class="font-weight-bold mb-2">
          By contacting us, you are guaranteed to receive:
        </p>
      </div>
      <div class="col">
        <ul>
          <li>
            <p>
              Performance of asphalt paving using only certified materials, the
              quality of which is confirmed by the necessary documents. We also
              use modern special equipment, the presence of which allows us to
              act efficiently and get results in a short time.
            </p>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>
            <p>
              The use of a unique paving technology that will ensure
              the&nbsp;long-term operation of the asphalt pavement.
            </p>
          </li>
          <li>
            <p>
              Strict observance of the established terms according
              to&nbsp;the&nbsp;contract.
            </p>
          </li>
          <li>
            <p>Democratic prices.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
